#main-container{
    padding: 5px;
    min-height: 300px;
    width: 600px;
    box-shadow: 0 0 5px #878585b6;
    margin: 5px;
    background-color: #DB005B;
}

.add-task{
    margin-top: 10px;
    color: black;
    
}
.add-task:hover{
    background-color: #03a8f49e;
}
#add-todo-btn{
    margin: 10px;
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    font-size: x-large;
    background-color: #F79327;
    color: black;
}
#add-todo-btn:hover{
    background-color: #78bedea7;
}
#todo-input-form{
    display: none;
    margin-bottom: 10px;
    margin: 0 5px;
    border: 0.5px solid black;
    padding: 20px;
}

.task-input{
    width: 100%;
    resize: none;
}
.task-form{
    display: flex;
    margin: 7px 0;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.modal{
    position: absolute;
    height: 100%;
    width: 600px;
    top: 0;
    left: 0;
    background-color: rgba(240, 248, 255, 0.859);
    margin: 5px;
    padding: 0 5px;
    z-index: 10;
    display: none;
}
.task-form-modal{
    padding: 5px;
    margin-top: 50px;
}
#close-btn{
    float: right;
    margin: 5px;
    padding: 0 5px 2px 5px;
    font-size: x-large;
    background-color: rgb(165, 19, 19);
    color: white;
    border: 0.5px solid rgb(75, 74, 74);
    width: fit-content;
}
#close-btn:hover{
    cursor: pointer;
    color: red;
    background-color: rgb(255, 255, 255);
}
.task-list{
    margin: 10px 5px;
    font-family: 'Rocher';
    font-size: medium;
    padding: 2px;
}
.task-box{
    border: 3px solid black;
    padding: 5px;
    box-shadow: 0 0 5px rgba(173, 171, 171, 0.629);
    margin: 5px 0;
    background-color: rgba(179, 179, 179, 0.629);
}
.task{
    white-space: pre-wrap;
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 5px;
}
.task-controller{
    border:  0.1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    font-size: small;
}
.timestamp{
    color: black;
}
.controller-btn>button{
    margin: 0 1px;
    padding: 3px 7px;
    font-size: smaller;

}
.done{
    text-decoration: line-through;
    color: black;
}
.done button{
    background-color: #889fa9c5;
}
.done button:hover{
    background-color: #03a8f4db;
}
.done a{
    color: #51656e8d;
}
.del-task-btn{
    color: black;
    background-color: #d21414a9;
}
.edit-task-btn{
    color: black;
}
.done-btn{
    color: black;
    background-color: #3bbe8c;
}
.high-prio-btn,.low-prio-btn{
    color: black;
    background-color:#d35941d4;
}